<footer id="footer" class="footer-section">
  <div class="wrapper">
    <div>
      <div>
        <span class="footer-copyright">Copyright © 2026 Studio Bufu - All Rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>