---
title: 'The homepage'
bodyClass: 'home loading'
---

{% extends "base.njk" %}

{% block content %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE 1 / HERO-SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section aria-labelledby="hero">
  <div class="hero-background-image"></div>
  <div class="wrapper">

    <h2 id="hero" class="hero-main-heading">Launching Soon</h2>

  </div>
</section>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE 1 / SECTION-TWO / SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section class="black-section" aria-labelledby="">
  <div class="wrapper contact-section">

    <h2 class="contact-heading">Contact Us</h2>
    <span class="contact-span"> Drop us a line!</span>

    <form class="contact-form" name="contact" method="POST" data-netlify="true">
      <input class="contact-form__input" type="text" id="name" name="name" placeholder="Name" required>

      <input class="contact-form__input" type="email" id="email" name="email" placeholder="E-mail" required>

      <textarea class="contact-form__textarea" id="message" name="message" rows="5" placeholder="Message" required></textarea>

      <button class="cmp-main-btn" type="submit">SEND</button>
    </form>

  </div>
</section>
{% endblock %}